* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: sans-serif;
}

/* TAG */

main {
    margin-top: 40px;
    height: calc(100vh - 125px);
    overflow: auto;
    background: black;
}

header {
    display: flex;
}

img {
    width: 100%;
    height: 100%;
}

footer {
    display: flex;
    position: fixed;
    justify-content: space-between;
    bottom: 0;
    z-index: 1;
    width: 100%;
    height: 85px;
    background: #222222;
    color: white;
}

/* Classi generiche */

.mBotton {
    margin-bottom: 15px;
}

.mLeft {
    margin-left: 2px;
}

/* Header */

.opzioniHead {
    display: flex;
    justify-content: flex-end;
    z-index: 1;
    position: fixed;
    background: black;
    height: 40px;
    width: 100%;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0 60px;
}

.bHead{
    color: white;
    background: #4A4A4A;
}

/* Main */
.paddingContainer {
    width: calc(100% / 7);
    padding: 8px;
}

.cardContainer {
    height: 150px;
    position: relative;
}

.card {
    width: 100%;
}

/* .cardContainer > .cardInfo > p {
    position: absolute;
} */

.cardInfo {
    display: flex;
    position: absolute;
    background: rgb(0 0 0 / 18%);
    height: 25px;
    width: 110px;
    color: white;
    bottom: 0;
    align-items: center;
}

/* Footer */

.containerFootL {
    display: flex;
    width: 15%;
    padding-left: 10px;
}

.containerFootC {
    display: flex;
}

/* .pulsantiFoot {
    background-color: green;     
} */

.pulsantiFoot {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 12px;
}
.pulsante {
    text-align: center;
    height: 100%;
    width: 60px;
}

.bottone {
    height: 100%;
    width: 100%;
    color: white;
    background: transparent;
    border: none;
}

.testo {
    width: 124px;
    padding-right: 64px;
}

.closeCall {
    text-align: center;
    height: 100%;
    width: 150px;
    background: #4A4A4A;
    color: red;
    border: none;
}
